flightSchedule.xsd

 
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="flight_schedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="authors">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="author" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="description"/>
        <xs:element name="launches">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="launch" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:dateTime" name="launch_date"/>
                    <xs:element type="xs:string" name="cost"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="launch_id" use="optional"/>
                  <xs:attribute type="xs:string" name="launchpad_ref" use="optional"/>
                  <xs:attribute type="xs:string" name="customer_ref" use="optional"/>
                  <xs:attribute type="xs:string" name="payload_ref" use="optional"/>
                  <xs:attribute type="xs:string" name="rocket_ref" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="launchpads">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="launchpad" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="launchpad_id" use="optional"/>
                  <xs:attribute type="xs:string" name="location_ref" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="customers">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="customer" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element name="contact_info">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:int" name="phone_number"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="location_ref" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="customer_id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="rockets">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="rocket" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="mass"/>
                    <xs:element type="xs:string" name="thrust"/>
                    <xs:element type="xs:string" name="payload_capacity"/>
                    <xs:element type="xs:string" name="cost"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="rocket_id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="payloads">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="payload" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="payload_type">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="capsule" minOccurs="0"/>
                          <xs:element type="xs:string" name="cargo" minOccurs="0"/>
                          <xs:element type="xs:string" name="sattelite" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="mass"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="payload_id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="locations">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="location" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="location_id" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>